h1 {
    text-align: center;
    color:blueviolet;
    text-decoration:line-through;
}
.lower {
color:chartreuse;
}
.lower {
    background-color: black;
}

main {
    margin: auto;
    text-align: left;
    width: 532px;
    position: relative;
    padding-top: 27px;
}
body {
    font-family: tahoma, helvetica, arial, sans-serif;
    font-size: 9px;
    text-align: center;
    background: #000;
    color: #ddd4d4;
    padding-top: 12px;
    line-height: 2;
}