h1 {
    text-align: center;
    color:black;
    text-decoration:line-through;
}
.lower {
color: grey;
}
.lower {
    background-color: white;
}

main {
    margin: auto;
    text-align: left;
    width: 532px;
    position: relative;
    padding-top: 27px;
}
body {
    font-family: tahoma, helvetica, arial, sans-serif;
    font-size: 9px;
    text-align: center;
    background: white;
    color: black;
    padding-top: 12px;
    line-height: 2;
}